//Body
$body-color: #F2F2F2;

//Sidebar
$sidebar-color: #232428;
$sidebar-color-text: #C3C3C3;
$sidebar-color-text-hover: #fff;
$sidebar-color-bg-hover: #2B2C2F;

//Colors
$color-white: #fff;
$color-black: #3A3A3A;

$color-green: #58B4AE;

$color-border: #CBCBCB;
