.logo {
	position: relative;
	display: block;
	width: 101px;
	margin: 15px 0;
	padding: 0;
	&:hover{
		cursor: pointer;
	}

	&__img {
		max-width: 100%;
	}

	&.is-active {
		//pointer-events: none;
	}
}
