@font-face {
    font-family: MonseratRegular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: MonseratMedium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: MonseratBold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}